# https://clang.llvm.org/docs/ClangFormatStyleOptions.html

BasedOnStyle: LLVM
Language: Cpp

# Access control
AccessModifierOffset: -4

# Alignment
AlignAfterOpenBracket: Align
AlignArrayOfStructures: Right
AlignConsecutiveAssignments: 
  Enabled: true
  AlignCompound: true
  PadOperators: true
AlignConsecutiveBitFields: Consecutive
AlignConsecutiveDeclarations:
  Enabled: true
  AlignCompound: true
  AlignFunctionPointers: true
AlignConsecutiveMacros: Consecutive
AlignEscapedNewlines: LeftWithLastLine
AlignOperands: Align
AlignTrailingComments:
  Kind: Always
  OverEmptyLines: 2

AllowAllArgumentsOnNextLine: true
AllowAllParametersOfDeclarationOnNextLine: true
AllowShortBlocksOnASingleLine: Never
AllowShortCaseLabelsOnASingleLine: false
AllowShortEnumsOnASingleLine: false
AllowShortFunctionsOnASingleLine: None
AllowShortIfStatementsOnASingleLine: Never
AllowShortLambdasOnASingleLine: Empty
AllowShortLoopsOnASingleLine: false

# Breaking after return type
AlwaysBreakAfterDefinitionReturnType: All

# Argument packing
BinPackArguments: false
BinPackParameters: false 
PackConstructorInitializers : NextLineOnly

# Braces and wrapping
BreakBeforeBraces: Custom
BraceWrapping:
  AfterCaseLabel: false
  AfterClass: true
  AfterControlStatement: Always
  AfterEnum: true
  AfterFunction: true
  AfterNamespace: true
  AfterStruct: true
  AfterUnion: true
  AfterExternBlock: true
  BeforeCatch: true
  BeforeElse: true
  BeforeWhile: true
  IndentBraces: false
  SplitEmptyFunction: true
  SplitEmptyNamespace: true
  SplitEmptyRecord: true

BreakArrays: false 

# Binary & ternary operator formatting
BreakBeforeBinaryOperators: None
BreakBeforeTernaryOperators: true
BreakConstructorInitializers: BeforeColon
BreakInheritanceList: BeforeColon
BreakTemplateDeclarations: Yes

# Namespace & scope style
CompactNamespaces: false
NamespaceIndentation: All
FixNamespaceComments: true 

# Include
SortIncludes: Never

# Indentation
Cpp11BracedListStyle: false
IndentCaseLabels: false
IndentPPDirectives: BeforeHash
IndentWidth: 4
IndentExternBlock: AfterExternBlock
IndentWrappedFunctionNames: false
InsertBraces: true
InsertNewlineAtEOF: true
LambdaBodyIndentation : Signature

# Limits
ColumnLimit: 0 
KeepEmptyLinesAtTheStartOfBlocks: true
MaxEmptyLinesToKeep: 1

# Pointer/reference alignment
PointerAlignment: Right 
ReferenceAlignment: Right

# Space formatting
SpaceAfterCStyleCast: false
SpaceAfterLogicalNot: false
SpaceAfterTemplateKeyword: false
SpaceBeforeAssignmentOperators: true
SpaceBeforeCpp11BracedList: false
SpaceBeforeCtorInitializerColon: true
SpaceBeforeInheritanceColon: true
SpaceBeforeParens: ControlStatements
SpaceBeforeRangeBasedForLoopColon: true
SpaceInEmptyParentheses: false
SpacesBeforeTrailingComments: 0
SpacesInAngles: false
SpacesInCStyleCastParentheses: false
SpacesInContainerLiterals: true
SpacesInParentheses: false
SpacesInSquareBrackets: false
SeparateDefinitionBlocks: Always
SortUsingDeclarations: LexicographicNumeric

# Tabs & width
TabWidth: 4
UseTab: ForContinuationAndIndentation

# Objective-C (ignored if not using ObjC)
ObjCSpaceAfterProperty: false
ObjCSpaceBeforeProtocolList: true

# Template & return type breaks
AlwaysBreakAfterReturnType: None
AlwaysBreakTemplateDeclarations: MultiLine
